.button {
  min-width: 200px;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn {
  border: none;
}
.button-portfolio {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
  padding-left: 0;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.button-portfolio-item {
  background-color: var(--button-bgr);
  border-radius: 4px;
  color: var(--primary-text-color);
  padding: 6px 22px;
  border: none;
  line-height: 1.625;
  text-align: center;
  font-weight: 500;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    min-width: 70px;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--accent-color);
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
.button-portfolio {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 480px) {
    justify-content: end;
  }
}
.button-portfolio .item + .item {
  margin-left: 8px;
  @media screen and (max-width: 480px) {
    margin: 0 8px 8px 0;
  }
}
.btn-center {
  display: flex;
  align-items: center;
}
