section {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  // margin-top: 45px;
  margin-bottom: 35px;
  & li {
    list-style: none;
  }
}
// @media screen and (min-width: 320px) {
// .section-margin {
//   margin-top: 45px;
// }
.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  // margin-right: -15px;
  // margin-left: 15px;
  @media screen and (max-width: 768px) {
    margin-top: 35px;
  }
  @media screen and (max-width: 480px) {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .section-feauture-tab {
    display: flex;
  }
  .features-icons {
    margin: 0 30px 0 0;
  }
}
.background {
  width: 100%;
  height: 120px;
  background-color: var(--bacground-secondary);
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.icons-items {
  display: flex;
  margin: auto;
  height: 120px;
  background-color: var(--bacground-secondary);
  background-size: 270px 120px;
}
.section-title-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  // padding-top: 30px;
  // padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: block;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 95px;
    & li {
      list-style: none;
    }
    .section-features {
      display: flex;
      flex-direction: inherit;

      .icons-items {
        display: flex;
        margin: auto;
        height: 120px;
        background-color: var(--bacground-secondary);
        background-size: 270px 120px;
      }
      .section-title-features {
        width: 270px;
        color: var(--primary-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
        // padding-top: 30px;
        // padding-bottom: 10px;
      }
      .selection-text {
        width: 270px;
      }
    }
  }
}
