:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background: #2f303a;
  --button-bgr: #f5f4fa;
  --bacground-secondary: #f5f4fa;
  --icons: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
